.movies-controls {
    padding: 70px 0 44px;
}

.movies-controls__search {
    margin-bottom: 26px;
}

.loader-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}