.nav-tab {
    font-size: 12px;
    line-height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-label-bg);
    width: 96px;
    height: 36px;
    border-radius: 10px;
    cursor: pointer;
    transition: all var(--transition-duration) var(--transition-timing-funciton);
}

.nav-tab:hover {
    box-shadow: 0 0 5px var(--color-text);
}

@media screen and (max-width: 480px) {
    .nav-tab {
        width: 82px;
        height: 26px;
        font-size: 10px;
        line-height: 1.6;
        border-radius: 6px;
    }
}