.icon-button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    cursor: pointer;
    padding: 0;
    fill-rule: evenodd;
    clip-rule: evenodd;
}

.icon-button__icon {
    fill: none;
    stroke: var(--color-border-line);
    transition: all var(--transition-duration) var(--transition-timing-funciton);
}

.icon-button__icon_active {
    fill: var(--color-danger);
    stroke: var(--color-danger);
}

.icon-button__icon:hover {
    stroke: var(--color-danger);
}